html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #9670B3;
    padding: 10px; /* Espaçamento interno */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #9670B3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    box-shadow: 0px 4px 5.2px 0px rgba(0, 0, 0, 0.58);
}


/* Style for nav-left */

.nav-left{
    display: flex;
    margin-left: 20px;
    align-items: center;
}


.nav-left img {
    height: 55px; /* Altura da logo */
}

/* Style for nav-center */

.nav-center {
    flex-grow: 1; /* Ocupa o espaço disponível */
    margin: 0 20px; /* Espaçamento entre a logo e a barra de pesquisa */
}

.navbar .nav-center form {
    display: flex;
    align-items: center;
}

.navbar .nav-center form input {
    width: 100%; /* Preenche todo o espaço disponível */
    padding: 5px; /* Espaçamento interno */
    border: 1px solid #ddd; /* Borda */
    border-radius: 5px 0px 0px 5px; /* Cantos arredondados */
    font-size: 20px;
}

.navbar .nav-center form input:focus{
    outline: none;
}

.navbar .nav-center form button {
    background-color: #5C4681; /* Cor de fundo do botão de pesquisa */
    color: white; /* Cor do texto do botão de pesquisa */
    border: none; /* Remove a borda do botão */
    border-radius: 0px 5px 5px 0px; /* Cantos arredondados do botão */
    cursor: pointer;
}

.navbar .nav-center form span{
    font-size: 29.2px;
}

/* Style for nav-right */

.nav-right {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.nav-right a {
    margin-left: 15px; /* Espaçamento entre os ícones */
}

.nav-right span{
    height: 100%; /* Altura dos ícones */
    width: 100%;
    font-size: 35px;
    margin: 10px;
    color: #FFFFFF;
    transition: color 300ms ease-in-out;
}

/* Transition for nav-right */

.nav-right span:hover{
    color: #dfdfdf;
}


/* Style for submenu inside menu button */
.submenu {
    z-index: 999;
    width: 100%;
    display: none;
    position: absolute;
    top: 76px;
    right: 0;
    background-color: #9670B3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: display 300ms ease-in-out; /* Adiciona a transição para o display */
}

.submenu a {
    margin: 0;
    display: inline-block;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.submenu a:hover {
    background-color: white;
    color: #5C4681;
}

.navbar-2 {
    z-index: 2;
    width: 100%; /* Largura máxima da barra de navegação */
    height: 55px;
    margin: 20px auto; /* Centraliza a barra de navegação na tela */
    background-color: #9670B3;
    color: white;
}

.navbar-2 .submenu h1{
    font-size: 200px;
}







/* CSS Bel */

main{
    margin-top: 67px;
}

.titulo {
    text-align: center;
    margin-top: 8%;
}

.subtitulo {
    color:#9670B3;
    text-align: center;
    margin-top: 1px;
}

.container {
      display: flex;
      padding-left: 5%;
      padding-right: 3%;
      margin-bottom: 2%;
      background-color: #F1EAF5;
    }

.produto1 {
    border: 3px solid #9670B3;
    border-radius: 10px;
    float: left;
    box-sizing: border-box;
    margin-right: 8%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #D8DED7;
}

.valorproduto {
    border: 1px solid #9670B3;
    border-radius: 3px 3px 3px 3px;
    width: 99%;
    background-color: white;
    padding-left: 1px;
    padding-right: 2px;
    padding-bottom: 5px;
}

.img {
    padding: 2px;   
}

.descricaoproduto {
    border: 1px solid #9670B3;
    border-radius: 10px;
    width: 50%;
    height: 80%;
    float: left;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 5%;
    background-color: white;
}

.destaque {
    font-weight: bold;
}

.nome {
    text-align: center;
    font-size: 18px;
}

.valor {
    text-align: center;
    color:#9670B3;
    font-weight: bold;
}

.botaoqtd {
    margin-inline: 60px;
}

.qtd {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: bold;
    width: 80px;
    text-align: center;
    padding: 20px;
    border: 2px solid #CCC;
    border-radius: 25px;
}

.botoes {
    display: inline-flex;
    margin-top: 8%;
}

.addaocarrinho{
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: #5C4681; /* Cor de fundo padrão do botão */
  color: #fff; /* Cor do texto do botão */
  padding: 20px 30px; /* Espaçamento interno do botão */
  border: none; /* Remove a borda padrão do botão */
  border-radius: 5px 5px 5px 5px; /* Cantos arredondados do botão */
  cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
  transition: background-color 0.3s ease; /* Adiciona uma transição suave na mudança de cor */
}

.addaocarrinho:hover {
    color: #5C4681;
    background-color: #fff;
}

.tituloitens {
    margin: 3%;
    margin-bottom: 2%;
    margin-left: 6%;
}

.itenssemelhantes {
    display: flex;
    margin-right: 10%;
}

.imgitem {
    justify-items: center;
    margin-left: 10%;
    border: 3px solid #9670B3;
    border-radius: 10px;
    margin-bottom: 2%;
    width: 100%;
}

.nomeproduto {
    text-align: center;
    font-weight: bold;
}

.valoprodutoitem {
    text-align: center;
    font-weight: bold;
    color: #9670B3;
    font-size: 15px;
}

.bordertitulo {
    border: 1px solid #9670B3;
}

.addaocarrinhoitem{
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 10px;
  background-color: #5C4681; /* Cor de fundo padrão do botão */
  color: #fff; /* Cor do texto do botão */
  padding: 8px 8px; /* Espaçamento interno do botão */
  border: none; /* Remove a borda padrão do botão */
  border-radius: 5px 5px 5px 5px; /* Cantos arredondados do botão */
  cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
  transition: background-color 0.3s ease; /* Adiciona uma transição suave na mudança de cor */
  margin-left: 80px;
  margin-bottom: 10px;
}

.addaocarrinhoitem:hover {
    color: #5C4681;
    background-color: #fff;
}


.img2 {
    margin-left: 65px;
    padding-top: 4px;
}


/* Style for footer*/

footer {
    text-align: center;
    background: #9670B3;
    color: white;
    font-weight: bold;
    margin: auto;
    top: 0;
    bottom: 0;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer-wrapper {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    text-align: left;
}

.footer-center {
    text-align: center;
}

.footer-right {
    text-align: right;
}

.footer-right p{
    line-height: 0.5;
}