html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #9670B3;
    padding: 10px; /* Espaçamento interno */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #9670B3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    box-shadow: 0px 4px 5.2px 0px rgba(0, 0, 0, 0.58);
}


/* Style for nav-left */

.nav-left{
    display: flex;
    margin-left: 20px;
    align-items: center;
}


.nav-left img {
    height: 55px; /* Altura da logo */
}

/* Style for nav-center */

.nav-center {
    flex-grow: 1; /* Ocupa o espaço disponível */
    margin: 0 20px; /* Espaçamento entre a logo e a barra de pesquisa */
}

.navbar .nav-center form {
    display: flex;
    align-items: center;
}

.navbar .nav-center form input {
    width: 100%; /* Preenche todo o espaço disponível */
    padding: 5px; /* Espaçamento interno */
    border: 1px solid #ddd; /* Borda */
    border-radius: 5px 0px 0px 5px; /* Cantos arredondados */
    font-size: 20px;
}

.navbar .nav-center form input:focus{
    outline: none;
}

.navbar .nav-center form button {
    background-color: #5C4681; /* Cor de fundo do botão de pesquisa */
    color: white; /* Cor do texto do botão de pesquisa */
    border: none; /* Remove a borda do botão */
    border-radius: 0px 5px 5px 0px; /* Cantos arredondados do botão */
    cursor: pointer;
}

.navbar .nav-center form span{
    font-size: 29.2px;
}

/* Style for nav-right */

.nav-right {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.nav-right a {
    margin-left: 15px; /* Espaçamento entre os ícones */
}

.nav-right span{
    height: 100%; /* Altura dos ícones */
    width: 100%;
    font-size: 35px;
    margin: 10px;
    color: #FFFFFF;
    transition: color 300ms ease-in-out;
}

/* Transition for nav-right */

.nav-right span:hover{
    color: #dfdfdf;
}


/* Style for submenu inside menu button */
.submenu {
    z-index: 999;
    width: 100%;
    display: none;
    position: absolute;
    top: 76px;
    right: 0;
    background-color: #9670B3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: display 300ms ease-in-out; /* Adiciona a transição para o display */
}

.submenu a {
    margin: 0;
    display: inline-block;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.submenu a:hover {
    background-color: white;
    color: #5C4681;
}

.navbar-2 {
    z-index: 2;
    width: 100%; /* Largura máxima da barra de navegação */
    height: 55px;
    margin: 20px auto; /* Centraliza a barra de navegação na tela */
    background-color: #9670B3;
    color: white;
}

.navbar-2 .submenu h1{
    font-size: 200px;
}

/* CSS Bel */

main{
    margin-top: 67px;
}

.section1{
    background-color: #F1EAF5;
    padding: 10px;
    justify-content: center;
}

.titulosac{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-bottom: 2px;
    margin-left: 30px;
}

.subtitulosac{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #9670B3;
    margin-top: 1px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.dadoscontato{
    display: flex;
    padding-top: 50px;
    padding-bottom: 60px;
    margin-left: 120px;
}

.endereco{
    background-color: #5C4681;
    padding: 20px;
    border-radius: 20px;
}

.email{
    background-color: #5C4681;
    margin-left: 190px;
    padding: 50px;
    border-radius: 20px;
}

.telefone{
    background-color: #5C4681;
    margin-left: 200px;
    padding: 30px;
    border-radius: 20px;
}

.texto{
    color: white;
}

.endereco:hover{
    background-color: #9670B3;
}

.email:hover{
    background-color: #9670B3;
}

.telefone:hover{
    background-color: #9670B3;
}

.tituloduvidas{
    margin-left: 80px;
}

.respostaduvidas{
    margin-left: 80px;
}

.accordion {
    margin-bottom: 20px;
    margin-left: 80px;
    padding-right: 80px;
}

input[type="checkbox"] {
    display: none;
}

label {
    cursor: pointer;
    padding: 10px;
    display: block;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-weight: bold;
}

.content {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 5 5 5px 5px;
}

input[type="checkbox"]:checked + label + .content {
    display: block;
}

.boxduvidas {
    padding-bottom: 50px;
}

/* Style for footer*/

footer {
    text-align: center;
    background: #9670B3;
    color: white;
    font-weight: bold;
    margin: auto;
    top: 0;
    bottom: 0;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer-wrapper {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    text-align: left;
}

.footer-center {
    text-align: center;
}

.footer-right {
    text-align: right;
}

.footer-right p{
    line-height: 0.5;
}