.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 20px;
    background: #C97233;
    position: relative;
    z-index: 1001;
}

.user-menu {
    display: flex;
    align-items: center;
    position: relative;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    margin-right: 10px;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    background: none;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Ajuste este valor conforme necessário */
    min-width: 150px; /* Garante largura suficiente para o texto */
    white-space: nowrap; /* Impede a quebra de texto */
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background: #f1f1f1;
}

.dropdown.active .dropdown-menu {
    display: block;
}