html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #9670B3;
    padding: 10px; /* Espaçamento interno */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #9670B3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    box-shadow: 0px 4px 5.2px 0px rgba(0, 0, 0, 0.58);
}


/* Style for nav-left */

.nav-left{
    display: flex;
    margin-left: 20px;
    align-items: center;
}


.nav-left img {
    height: 55px; /* Altura da logo */
}

/* Style for nav-center */

.nav-center {
    flex-grow: 1; /* Ocupa o espaço disponível */
    margin: 0 20px; /* Espaçamento entre a logo e a barra de pesquisa */
}

.navbar .nav-center form {
    display: flex;
    align-items: center;
}

.navbar .nav-center form input {
    width: 100%; /* Preenche todo o espaço disponível */
    padding: 5px; /* Espaçamento interno */
    border: 1px solid #ddd; /* Borda */
    border-radius: 5px 0px 0px 5px; /* Cantos arredondados */
    font-size: 20px;
}

.navbar .nav-center form input:focus{
    outline: none;
}

.navbar .nav-center form button {
    background-color: #5C4681; /* Cor de fundo do botão de pesquisa */
    color: white; /* Cor do texto do botão de pesquisa */
    border: none; /* Remove a borda do botão */
    border-radius: 0px 5px 5px 0px; /* Cantos arredondados do botão */
    cursor: pointer;
}

.navbar .nav-center form span{
    font-size: 29.2px;
}

/* Style for nav-right */

.nav-right {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.nav-right a {
    margin-left: 15px; /* Espaçamento entre os ícones */
}

.nav-right span{
    height: 100%; /* Altura dos ícones */
    width: 100%;
    font-size: 35px;
    margin: 10px;
    color: #FFFFFF;
    transition: color 300ms ease-in-out;
}

/* Transition for nav-right */

.nav-right span:hover{
    color: #dfdfdf;
}


/* Style for submenu inside menu button */
.submenu {
    z-index: 999;
    width: 100%;
    display: none;
    position: absolute;
    top: 76px;
    right: 0;
    background-color: #9670B3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: display 300ms ease-in-out; /* Adiciona a transição para o display */
}

.submenu a {
    margin: 0;
    display: inline-block;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.submenu a:hover {
    background-color: white;
    color: #5C4681;
}

.navbar-2 {
    z-index: 2;
    width: 100%; /* Largura máxima da barra de navegação */
    height: 55px;
    margin: 20px auto; /* Centraliza a barra de navegação na tela */
    background-color: #9670B3;
    color: white;
}

.navbar-2 .submenu h1{
    font-size: 200px;
}

/* CSS Bel */

main{
    margin-top: 67px;
}

.tituloform{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 3px;
    margin-left: 30px;
}

.subtituloform{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #9670B3;
    margin-top: 1px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.form{
    background-color: #F1EAF5;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 30%;
}

.form2{
    display: flex;
    align-items: center;
    border: 1px;
    border-width: 2px;
    border-color: white;
    box-shadow: 1px;
    border-style: inset;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    padding-right: 420px;
    margin-bottom: 25px;
    margin-top: 5px;
}

.itemform{
    font-size: 20px;
    font-weight: bold;
    color: #9670B3;
}

.cadastrar{
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: #5C4681; /* Cor de fundo padrão do botão */
  color: #fff; /* Cor do texto do botão */
  padding: 15px 30px; /* Espaçamento interno do botão */
  border: none; /* Remove a borda padrão do botão */
  border-radius: 5px 5px 5px 5px; /* Cantos arredondados do botão */
  cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
  transition: background-color 0.3s ease; /* Adiciona uma transição suave na mudança de cor */
  margin: 30px 0px 30px 200px;  /*topo, direita, inferior e esquerda, respectivamente.*/
}

.cadastrar:hover {
    color: #5C4681;
    background-color: #fff;
}

/* Style for footer*/

footer {
    text-align: center;
    background: #9670B3;
    color: white;
    font-weight: bold;
    margin: auto;
    top: 0;
    bottom: 0;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer-wrapper {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    text-align: left;
}

.footer-center {
    text-align: center;
}

.footer-right {
    text-align: right;
}

.footer-right p{
    line-height: 0.5;
}